/*原始的設定，給桌機使用*/
.headline{
    font-size:30px;font-weight:bold;
    margin-bottom:15px;text-align:center;
}

.desktop-menu{
    text-align:center;
    display:block; /*桌機板先顯示*/

}

.mobile-menu{
    text-align:center;
    display:none; /*手機板先隱藏*/

}

.list{
    display:flex;
    justify-content:center;
}

.product{
    flex:none;width:280px;margin:10px;
    background-color:#ffcccc;
}

/*設計給平板使用時顯示的畫面*/
@media (max-width:1280px){ /*桌機最小是1280px，所以低於1280以內套用以下設定*/
    .list{
        flex-wrap:wrap; /*子元素數量太多，自動換行*/
    }
    .product{
        width:45% /*寬度45%，所以一個版面可以塞兩個product*/
    }

} 

/*設計給手機使用時顯示的畫面*/
@media (max-width:500px){ /*平板最小是500px，所以低於500以內套用以下設定*/
    /*最小的手機畫面大概360px*/
    .headline{
        font-size:20px;
    }
    
    .desktop-menu{
        text-align:center;
        display:none; /*桌機板先顯示*/
    
    }
    
    .mobile-menu{
        text-align:center;
        display:block; /*手機板先隱藏*/
    
    }

    .list{
        flex-wrap:wrap;
    }
    .product{
        width:90% /*寬度90%，所以一個版面可以塞一個product*/
    }

} 
