<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>front-end-interaction</title>
</head>
<body>
    <H1>Hello 連線到index.html囉</H1>
    <!-- <a href="http://127.0.0.1:3000/page">連結到網頁/page</a> -->
    <!-- 
    若要連結的網頁在同一台主機上，可以省略前面http://127.0.0.1:3000
    直接寫/page 
    -->
    <hr/>

    <!-- #10 表單from -->
    <!-- action 發出請求的網址 可以是GOOGLE，也可以省略本地端的路徑 -->
    <form action="/show">
        姓名 <input type="text" name="n"> <!-- 注意觀察網址的變化，要求字串的部分 -->
        <button>點擊送出表單</button>
    </form>
    <form action="/calculate" method="POST">
        數字 <input type="text" name="max"> <!-- 注意觀察網址的變化，要求字串的部分 -->
        <button>計算結果</button>
    </form>

    <a href="/page">連結到網頁/page</a>
    
</body>
</html>